body {
    font-size: 24px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-gap: 20px;
}

.product {
    width: 150px;
}

.desc {
    width: 100%;
    min-height: 150px;;
    font-size: 12px;
    align-content: center;
    background-color:darkkhaki;
    padding: 16px;
    border: 1px solid black;
    box-sizing: border-box;
}

img {
    display: block;
}

button {
    margin-top: 15px;
    display: block;
}